In [1]:
import pandas as pn
import numpy as np

df = pn.read_csv("employees.csv")
print(df.head(12))

   First Name  Gender  Start Date Last Login Time  Salary  Bonus %  \
0     Douglas    Male    8/6/1993        12:42 PM   97308    6.945
1      Thomas    Male   3/31/1996         6:53 AM   61933    4.170
2       Maria  Female   4/23/1993        11:17 AM  130590   11.858
3       Jerry    Male    3/4/2005         1:00 PM  138705    9.340
4       Larry    Male   1/24/1998         4:47 PM  101004    1.389
5      Dennis    Male   4/18/1987         1:35 AM  115163   10.125
6        Ruby  Female   8/17/1987         4:20 PM   65476   10.012
7         NaN  Female   7/20/2015        10:43 AM   45906   11.598
8      Angela  Female  11/22/2005         6:29 AM   95570   18.523
9     Frances  Female    8/8/2002         6:51 AM  139852    7.524
10     Louise  Female   8/12/1980         9:01 AM   63241   15.132
11      Julie  Female  10/26/1997         3:19 PM  102508   12.637

   Senior Management                  Team
0               True             Marketing
1               True                   NaN
2              False               Finance
3               True               Finance
4               True       Client Services
5              False                 Legal
6               True               Product
7                NaN               Finance
8               True           Engineering
9               True  Business Development
10              True                   NaN
11              True                 Legal

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   First Name         933 non-null    object
 1   Gender             855 non-null    object
 2   Start Date         1000 non-null   object
 3   Last Login Time    1000 non-null   object
 4   Salary             1000 non-null   int64
 5   Bonus %            1000 non-null   float64
 6   Senior Management  933 non-null    object
 7   Team               957 non-null    object
dtypes: float64(1), int64(1), object(6)
memory usage: 62.6+ KB

In [3]:
duplicate = df[df.duplicated()]
print(duplicate)

Empty DataFrame
Columns: [First Name, Gender, Start Date, Last Login Time, Salary, Bonus %, Senior Management, Team]
Index: []

In [4]:
print(df.isnull().sum())

First Name            67
Gender               145
Start Date             0
Last Login Time        0
Salary                 0
Bonus %                0
Senior Management     67
Team                  43
dtype: int64

In [5]:
#First Name - удалим пропуски во избежании ошибок в будущем. 
df = df.dropna(subset=["First Name"]).copy()

In [6]:
#Gender оставшиеся пропуски заполним значениями unknowm
df["Gender"] = df["Gender"].fillna("Unknown")

In [8]:
#Senior Management заполним случайными значениями True/False, уже опираясь на занесенные данные. 
sm_probs = df["Senior Management"].value_counts(normalize=True)
missing_idx = df[df["Senior Management"].isna()].index
random_values = np.random.choice(sm_probs.index, size=len(missing_idx), p=sm_probs.values)

df.loc[missing_idx, "Senior Management"] = random_values

In [9]:
#Team заполним случайными значениями, уже опираясь на занесенные данные. 
team_probs = df["Team"].value_counts(normalize=True)
missing_idx = df[df["Team"].isna()].index
random_teams = np.random.choice(team_probs.index, size=len(missing_idx), p=team_probs.values)

df.loc[missing_idx, "Team"] = random_teams

In [10]:
print(df.isnull().sum())

First Name           0
Gender               0
Start Date           0
Last Login Time      0
Salary               0
Bonus %              0
Senior Management    0
Team                 0
dtype: int64

In [11]:
df["Bonus %"].describe()

count    933.000000
mean      10.225737
std        5.549542
min        1.015000
25%        5.359000
50%        9.849000
75%       14.879000
max       19.944000
Name: Bonus %, dtype: float64

In [12]:
df.index

Index([  0,   1,   2,   3,   4,   5,   6,   8,   9,  10,
       ...
       990, 991, 992, 993, 994, 995, 996, 997, 998, 999],
      dtype='int64', length=933)

df["Start Date"] = pn.to_datetime(df["Start Date"])
veterans = df[df["Gender"] == "Male"].sort_values("Start Date").head()
veterans

In [16]:
df["Start Date"] = pn.to_datetime(df["Start Date"])
veterans = df[df["Gender"] == "Male"].sort_values("Start Date").min()
veterans

First Name                          Aaron
Gender                               Male
Start Date            1980-01-19 00:00:00
Last Login Time                  10:00 AM
Salary                              35013
Bonus %                             1.015
Senior Management                   False
Team                 Business Development
dtype: object

In [17]:
top_salary = df.sort_values("Salary", ascending=False).head(5)
print(top_salary)

    First Name   Gender Start Date Last Login Time  Salary  Bonus %  \
644  Katherine   Female 1996-08-13        12:21 AM  149908   18.912
429       Rose   Female 2015-05-28         8:40 AM  149903    5.630
828    Cynthia   Female 2006-07-12         8:55 AM  149684    7.864
160      Kathy   Female 2000-03-18         7:26 PM  149563   16.991
740    Russell  Unknown 2009-05-09        11:59 AM  149456    3.533

    Senior Management             Team
644             False          Finance
429             False  Human Resources
828             False          Product
160              True          Finance
740             False        Marketing

In [18]:
most_common_male = df[df["Gender"] == "Male"]["First Name"].mode()[0]
most_common_female = df[df["Gender"] == "Female"]["First Name"].mode()[0]

print(most_common_male)
print(most_common_female)

Jeremy
Marilyn

In [19]:
senior_pct = (df["Senior Management"].sum() / len(df)) * 100
print(senior_pct)

50.160771704180064

In [20]:
df["Last Login Time"] = pn.to_datetime(df["Last Login Time"])
latest_logins = df.sort_values("Last Login Time", ascending=False).head(5)
print(latest_logins)

    First Name   Gender Start Date     Last Login Time  Salary  Bonus %  \
792       Anne  Unknown 1996-04-18 2025-10-19 23:57:00  122762    9.564
66       Nancy   Female 2012-12-15 2025-10-19 23:57:00  125250    2.672
930      Nancy   Female 2001-09-10 2025-10-19 23:57:00   85213    2.386
349    Phyllis   Female 2005-11-24 2025-10-19 23:57:00  140347    8.723
241     Walter     Male 1983-07-06 2025-10-19 23:54:00  127813    5.961

    Senior Management                  Team
792             False          Distribution
66               True  Business Development
930              True             Marketing
349             False                 Sales
241             False               Finance

E:\Users\sine\AppData\Local\Temp\ipykernel_19592\1556157158.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df["Last Login Time"] = pn.to_datetime(df["Last Login Time"])

In [22]:
gender_stats = df.groupby("Gender")[["Salary", "Bonus %"]].mean()
gender_stats

               Salary    Bonus %
Gender
Female   89605.732500  10.002937
Male     90738.873418  10.379987
Unknown  90980.427536  10.430022

In [23]:
top_women_team = df[df["Gender"] == "Female"]["Team"].mode()[0]
top_women_team

'Business Development'

In [25]:
avg_salary = df["Salary"].mean() #Cредняя зп
avg_bonus = df["Bonus %"].mean() #Средний бонус

print(avg_salary)
print(avg_bonus)

90288.79635584138
10.225737406216506